"*":
  "atom-alignment": {}
  "atom-ctags":
    autoBuildTagsWhenActive: true
    buildTimeout: 60000
    cmdArgs: "--exclude=aux --exclude=config --exclude=data  --exclude=log4r --exclude=node_modules"
  "autocomplete-plus":
    useAlternateScoring: false
    useCoreMovementCommands: false
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "symbols-view"
      "metrics"
      "vim-mode"
      "vim-surround"
      "ex-mode"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    useCustomTitleBar: true
  editor:
    autoIndent: true
    backUpBeforeSaving: true
    fontFamily: "Input Mono Narrow"
    fontSize: 11
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "ex-mode":
    splitright: true
  "exception-reporting":
    userId: "e3c5e6a6-bdfd-102a-a251-e940e627ceed"
  "fuzzy-finder": {}
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-line":
    enableSelectionBorder: true
  linter:
    errorPanelHeight: 71
    lintOnFlyInterval: 750
    showErrorPanel: false
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-sass-lint":
    configFile: ".scss-lint.yml"
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  "mocha-test-runner":
    env: "NODE_ENV=test"
  nvatom:
    directory: "/Users/shawnrodriguez/Desktop/example"
  "one-dark-ui": {}
  pigments:
    supportedFiletypes: [
      "css"
      "less"
      "sass"
      "scss"
      "html"
    ]
  react:
    enabledForAllJavascriptFiles: true
  rspec: {}
  "ruby-test":
    rspecAllCommand: "bin/rspec --tty spec"
    rspecFileCommand: "bin/rspec --tty {relative_path}"
    rspecSingleCommand: "bin/rspec --tty {relative_path}:{line_number}"
    specFramework: "rspec"
    testFramework: "minitest"
  "status-bar": {}
  tabs:
    enableVcsColoring: true
  "tree-view":
    alwaysOpenExisting: true
    hideIgnoredNames: true
  "tree-view-open-files": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    clearHighlightSearchOnResetNormalMode: true
    clearMultipleCursorsOnEscapeInsertMode: true
    hideStatusBarOnMaximizePane: false
    highlightSearch: true
    ignoreCaseForSearch: true
    showCursorInVisualMode: false
    showHoverSearchCounter: true
    smoothScrollOnFullScrollMotion: true
    statusBarModeStringStyle: "long"
    stayOnTransformString: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".basic.html.text":
  editor:
    preferredLineLength: 100
".coffee.jsx.source":
  editor:
    preferredLineLength: 100
    showIndentGuide: true
".diff.source":
  editor:
    preferredLineLength: 100
    showIndentGuide: false
".erb.html.text":
  editor:
    preferredLineLength: 100
".evnd.gfm.html.inline.markdown.mathjax.source.text":
  editor:
    preferredLineLength: 100
".evnd.html.inline":
  editor:
    preferredLineLength: 100
".gfm.nvatom.source":
  editor:
    preferredLineLength: 100
".html.ruby.text":
  editor:
    preferredLineLength: 100
".js.jsx.source":
  editor:
    preferredLineLength: 100
    showIndentGuide: true
".js.rails.source source.jquery.js":
  editor:
    preferredLineLength: 100
".rails.rjs.ruby.source":
  editor:
    preferredLineLength: 100
".rails.ruby.source":
  editor:
    preferredLineLength: 100
".ruby.source":
  editor:
    preferredLineLength: 100
".ruby.source.sql":
  editor:
    preferredLineLength: 100
".source.yaml":
  editor:
    autoIndentOnPaste: false
    preferredLineLength: 100
"linter-rubocop":
  executablePath: "/Users/shawnrodriguez/.rbenv/shims/rubocop"
